{% extends 'base.html' %}

{% block content %}
<h1>{{ poll }}</h1>
{% if error_message %}
<div class="alert alert-danger" role="alert">{{ error_message }}</div>
{% endif %}
<form action="{% url 'vote:manage' poll_identifier=poll.identifier %}" method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="token">Management Token</label>
        <input type="text" name="token" id="token" class="form-control">
    </div>
    <input type="submit" class="btn btn-primary" value="Deactivate">
</form>
{% include 'vote/token_state.html' %}
{% endblock %}
